#Portfolio{
    color: #01c16a;
    text-align: center;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #111827;
    color: #f3f4f6;
}
.about{
    color: #f3f4f6;
    text-align: center;
    font-family: "Inter", sans-serif;
}
article{
    background-color: #1f2937;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    text-align: center;
}
/* #div1{
    background-color: aliceblue;
    color: #111827;
} */
#github-link{
    color: #01c16a;
    text-decoration: none;    
    text-align: center;
    font-family: "Inter", sans-serif;
    display: block;
    border-radius: 8px;
    padding: 20px;
    width: 50px;
    height: 50px;
    margin:auto;
    object-fit: contain;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in-out;
}
#github-link:hover{
    transform: scale(1.2);
}

#education-link{
    color: #01c16a;
    text-decoration: none;    
    text-align:center;
    font-family: "Inter", sans-serif;
    display: block;
    border-radius: 8px;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    object-fit: contain;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#education-link:hover{
    background-color: #405169;
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Form1{
    background-color: #1f2937;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    text-align: center;
}
#feedback{
    color: #131924;
    text-align: center;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 500px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feedback:hover{
    background-color: #405169;
    color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

}
#feedback1{
    color: #ffffff;
    text-align: center;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 500px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;}